{% extends 'base.html' %}
{% import 'macros.html' as macro%}


{% block styles %}
{{ super()}}

<link href="https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker&display=swap" rel="stylesheet">

{% endblock%}
{% block content %}

{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
                {{wtf.quick_form(post_form)}}

            <a class="mr-2" href="#">{{post.author.username}}</a>
            <small class="text-muted">{{post.date_posted.strftime('%Y-%m-%d')}}</small>
            {%  if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm m-1" href="{{ url_for ('update_post')}}"></a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete </button>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title" href = "{{url_for('post',post_id = post.id)}}">{{post.title}}</h2>
        <p class="article-content">{{post.content}}</p>
    </div>
</article>
<form action="{{ url_for('delete_post',post_id = post.id)}}" method="POST">
    <input class="btn btn-danger" type="submit" value="Delete">

</form>

{% endfor %}
{% endblock %}